PORT=3000
MONGODB_URI=mongodb+srv://Emerald:<Daniel_2009>@nacos-voting.vcic2mu.mongodb.net/?appName=nacos-voting
FIREBASE_SERVICE_ACCOUNT={"type": "service_account", ...}
ADMIN_PASSCODE=secret-passphrase-here
ALLOWED_EMAIL_DOMAIN=student.oauife.edu.ng
FRONTEND_URL=https://nacos-voting.vercel.app
