PORT=3000
MONGODB_URI=mongodb+srv://Emerald:Daniel_2009@nacos-voting.vcic2mu.mongodb.net/?appName=nacos-voting

# Recommended for Render (Individual variables)
FIREBASE_PROJECT_ID=nacos-voting-26b2b
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@nacos-voting-26b2b.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Key-Here\n-----END PRIVATE KEY-----\n"

# Fallback (Single JSON blob)
# FIREBASE_SERVICE_ACCOUNT={"type": "service_account", ...}

ADMIN_PASSCODE=secret-passphrase-here
ALLOWED_EMAIL_DOMAIN=student.oauife.edu.ng
FRONTEND_URL=https://nacos-voting.vercel.app
